# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
cryptofunds-frontend/node_modules
cryptofunds-frontend/.pnp
cryptofunds-frontend/.pnp.js
cryptofunds-frontend/.yarn/install-state.gz

# testing
cryptofunds-frontend/coverage

# next.js
cryptofunds-frontend/.next/
cryptofunds-frontend/out/

# production
cryptofunds-frontend/build

# misc
cryptofunds-frontend/.DS_Store
cryptofunds-frontend/*.pem

# debug
cryptofunds-frontend/npm-debug.log*
cryptofunds-frontend/yarn-debug.log*
cryptofunds-frontend/yarn-error.log*

# local env files
cryptofunds-frontend/.env*.local

# vercel
cryptofunds-frontend/.vercel

# typescript
cryptofunds-frontend/*.tsbuildinfo
cryptofunds-frontend/next-env.d.ts

# cryptofunds-backend
# compiled output
cryptofunds-backend/dist
cryptofunds-backend/node_modules
cryptofunds-backend/build

# Logs
cryptofunds-backend/logs
cryptofunds-backend/*.log
cryptofunds-backend/npm-debug.log*
cryptofunds-backend/pnpm-debug.log*
cryptofunds-backend/yarn-debug.log*
cryptofunds-backend/yarn-error.log*
cryptofunds-backend/lerna-debug.log*

# OS
cryptofunds-backend/.DS_Store

# Tests
cryptofunds-backend/coverage
cryptofunds-backend/.nyc_output

# IDEs and editors
cryptofunds-backend/.idea
cryptofunds-backend/.project
cryptofunds-backend/.classpath
cryptofunds-backend/.c9/
cryptofunds-backend/*.launch
cryptofunds-backend/.settings/
cryptofunds-backend/*.sublime-workspace

# IDE - VSCode
cryptofunds-backend/.vscode/*
cryptofunds-backend/!.vscode/settings.json
cryptofunds-backend/!.vscode/tasks.json
cryptofunds-backend/!.vscode/launch.json
cryptofunds-backend/!.vscode/extensions.json

# dotenv environment variable files
cryptofunds-backend/.env
cryptofunds-backend/.env.development.local
cryptofunds-backend/.env.test.local
cryptofunds-backend/.env.production.local
cryptofunds-backend/.env.local

# temp directory
cryptofunds-backend/.temp
cryptofunds-backend/.tmp

# Runtime data
cryptofunds-backend/pids
cryptofunds-backend/*.pid
cryptofunds-backend/*.seed
cryptofunds-backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
cryptofunds-backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
